@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');


h1 {
    font-family: 'Black Ops One', system-ui, sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-image: url('../images/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}


.board-table {
    width: 40%;
    border-collapse: collapse;
    table-layout: fixed;
}

.board-table th {
    padding: 0;
    height: 30px;
}

.board-table td {
    border: 1px solid #080908;
    padding: 0;
    height: 30px;
}

.board-table th,
.board-table td {
    width: 30px;
}

.board-table th {
    text-align: center;
    background-color: #ffffff;
}

.board-table tr td:first-child {
    text-align: center;
    background-color: #ffffff;
}

body {
    background: darkgray;
}