@page "/"
@inject HttpClient httpClient
@inject NavigationManager navigationManager
@using BattleShip.Models;


<h1>Welcome to BattleShip!</h1>

                <button @onclick="StartGame">Start</button>

@code {
    private async Task StartGame()
    {
        
        HttpResponseMessage response = await httpClient.PostAsync("http://localhost:5143/games", null);
        response.EnsureSuccessStatusCode();
        if (response.IsSuccessStatusCode)
        {
            var content = await response.Content.ReadFromJsonAsync<GameInitInfo>();
            Console.WriteLine(content);
            if (content != null)
            {
                char [,] playerBoard = new char[10, 10];
                char [,] opponentBoard = new char[10, 10];
                
                Console.WriteLine(content.GameId);
                Console.WriteLine(content.Ships);
                foreach (var Ship in content.Ships)
                {
                    Console.WriteLine(Ship.Y);
                    Console.WriteLine(Ship.X);
                    if(Ship.Direction == Direction.Horizontal)
                    {
                        for (int i = 0; i < Ship.Y; i++)
                        {
                            playerBoard[Ship.X, i] = Ship.Type.ToString().Substring(0, 1)[0];
                        }
                    }
                    else if (Ship.Direction == Direction.Vertical)
                    {
                        for (int i = 0; i < Ship.X; i++)
                        {
                            playerBoard[i, Ship.Y] = Ship.Type.ToString().Substring(0, 1)[0];
                        }
                    }
                }
                GameState.InitializeInstance(content.GameId, playerBoard, new char[10,10]);            }
        }
        else
        {
            Console.WriteLine($"Error: {response.StatusCode}");
        }
        navigationManager.NavigateTo("/home");
    }
}
