@page "/"
@inject HttpClient httpClient
@inject NavigationManager navigationManager
@using BattleShip.Models;


<h1>Welcome to BattleShip!</h1>

                <button @onclick="StartGame">Start</button>

@code {
    private async Task StartGame()
    {
        
        HttpResponseMessage response = await httpClient.PostAsync("http://localhost:5143/games", null);
        response.EnsureSuccessStatusCode();
        if (response.IsSuccessStatusCode)
        {
            var content = await response.Content.ReadFromJsonAsync<GameInitInfo>();
            Console.WriteLine(content);
            if (content != null)
            {
                Console.WriteLine(content.GameId);
                Console.WriteLine(content.Ships);
                GameState.InitializeInstance(content.GameId, new char[10,10], new char[10,10]);            }
        }
        else
        {
            Console.WriteLine($"Error: {response.StatusCode}");
        }
        navigationManager.NavigateTo("/home");
    }
}
