@page "/"
@using System.Text.Json
@using BattleShip.Models
@using BattleShip.Models.Requests
@using BattleShip.Models.Responses
@using System.Text
@inject HttpClient Http;
@inject NavigationManager NavigationManager


<h1>Welcome to BattleShip!</h1>
<div class="div-menu">
    <button @onclick="ToggleDropdown" class="menu-button">Create a new game</button>
    @if (_showDropdown)
    {
        <div class="dropdown-menu">
            <button class="dropdown-item" @onclick="CreateGameIa">IA</button>
        </div>
        <div class="dropdown-menu">
            <button class="dropdown-item" @onclick="CreateGameMulti">MultiPlayer</button>
        </div>
    }
    <button @onclick="JoinGame" class="menu-button">Join a game</button>
    @if (_showJoinGame)
    {
        <div class="dropdown-menu">
            <input type="text" @bind="_gameCode" placeholder="Enter the game code"/>
            <button @onclick="JoinParty" class="dropdown-item">Join</button>
        </div>
    }
</div>

@code {
    private bool _showDropdown;
    private bool _showJoinGame;
    private string _gameCode;


    private void ToggleDropdown()
    {
        _showDropdown = !_showDropdown;
    }

    private async Task CreateGameIa()
    {
        var playerId = Guid.NewGuid();
        using StringContent jsonContent = new(
            JsonSerializer.Serialize(new InitializeGameRequest(playerId, new GameSettings(GameMode.SoloVsAi, AiDifficulty.Easy))),
            Encoding.UTF8,
            "application/json");

        var response = await Http.PostAsync("/games", jsonContent);

        if (response.IsSuccessStatusCode)
        {
            var gameInfo = await response.Content.ReadFromJsonAsync<InitializeGameResponse>();
            var playerBoard = new char[10, 10];
            foreach (var ship in gameInfo.Ships)
            {
                switch (ship.Direction)
                {
                    case Direction.Horizontal:
                        for (var i = 0; i < ship.Length; i++)
                        {
                            playerBoard[ship.X + i, ship.Y] = ship.Type.ToString().Substring(0, 1)[0];
                        }

                        break;
                    case Direction.Vertical:
                        for (var i = 0; i < ship.Length; i++)
                        {
                            playerBoard[ship.X, ship.Y + i] = ship.Type.ToString().Substring(0, 1)[0];
                        }

                        break;
                    default:
                        return;
                }
            }

            GameState.InitializeInstance(gameInfo.SessionId, playerBoard, new char[10, 10], playerId);
            NavigationManager.NavigateTo("/home");
        }
        else
        {
            Console.WriteLine($"Error: {response.StatusCode}");
        }
    }

    private async Task CreateGameMulti()
    {
        var playerId = Guid.NewGuid();
        using StringContent jsonContent = new(
            JsonSerializer.Serialize(new InitializeGameRequest(playerId, new GameSettings(GameMode.Multiplayer))),
            Encoding.UTF8,
            "application/json");

        var response = await Http.PostAsync("/games", jsonContent);

        if (response.IsSuccessStatusCode)
        {
            var gameInfo = await response.Content.ReadFromJsonAsync<InitializeGameResponse>();
            var playerBoard = new char[10, 10];
            foreach (var ship in gameInfo.Ships)
            {
                switch (ship.Direction)
                {
                    case Direction.Horizontal:
                        for (var i = 0; i < ship.Length; i++)
                        {
                            playerBoard[ship.X + i, ship.Y] = ship.Type.ToString().Substring(0, 1)[0];
                        }

                        break;
                    case Direction.Vertical:
                        for (var i = 0; i < ship.Length; i++)
                        {
                            playerBoard[ship.X, ship.Y + i] = ship.Type.ToString().Substring(0, 1)[0];
                        }

                        break;
                    default:
                        return;
                }
            }

            GameState.InitializeInstance(gameInfo.SessionId, playerBoard, new char[10, 10], playerId);
            NavigationManager.NavigateTo("/home");
        }
        else
        {
            Console.WriteLine($"Error: {response.StatusCode}");
        }
    }

    private async Task JoinGame()
    {
        _showJoinGame = !_showJoinGame;
    }

    private async Task JoinParty()
    {
        var gameId = Guid.Parse(_gameCode);
        Console.Write(_gameCode);
        using StringContent jsonContent = new(
            JsonSerializer.Serialize(new TryJoinGameRequest(gameId, Guid.NewGuid())),
            Encoding.UTF8,
            "application/json");

        var response = await Http.PostAsync("/join", jsonContent);
        if (response.IsSuccessStatusCode)
        {
            var gameInfo = await response.Content.ReadFromJsonAsync<TryJoinGameResponse>();
            Console.WriteLine(gameInfo.SessionId);
            Console.WriteLine(gameInfo.Player2Id);
            var playerBoard = new char[10, 10];
            foreach (var ship in gameInfo.Ships)
            {
                switch (ship.Direction)
                {
                    case Direction.Horizontal:
                        for (var i = 0; i < ship.Length; i++)
                        {
                            playerBoard[ship.X + i, ship.Y] = ship.Type.ToString().Substring(0, 1)[0];
                        }

                        break;
                    case Direction.Vertical:
                        for (var i = 0; i < ship.Length; i++)
                        {
                            playerBoard[ship.X, ship.Y + i] = ship.Type.ToString().Substring(0, 1)[0];
                        }

                        break;
                    default:
                        return;
                }
            }

            GameState.InitializeInstance(gameInfo.SessionId, playerBoard, new char[10, 10], gameInfo.Player2Id);
            NavigationManager.NavigateTo("/home");
        }
        else
        {
            Console.WriteLine($"Error: {response.StatusCode}");
        }
    }

}