<table class="board-table">
    <thead>
    <tr>
        <th></th>
        @for (var i = 1; i <= 10; i++)
        {
            var ii = i;
            <th>@ii</th>
        }
    </tr>
    </thead>
    <tbody>
    @for (var row = 'A'; row <= 'J'; row++)
    {
        <tr>
            <td>@row</td>
            @for (var col = 0; col <= 9; col++)
            {   
                var currentCol = col;
                var currentRow = (int)row - 'A';
                var cell = Table[currentCol, currentRow];
                switch (cell)
                {
                    case '\0':
                        <td style="background-color: white"></td>
                        break;
                    case 'X':
                        <td style="background-color: red">X</td>
                        break;
                    case 'O':
                        <td>X</td>
                        break;
                    default:
                        <td style="background-color: darkblue"></td>
                        break;
                }
            }
        </tr>
    }
    </tbody>
</table>
@code
{
    [Parameter]
    public char[,] Table { get; set; }
}
