@inject HttpClient Http;
@inject GameState GameState;
@using System.Text.Json;
@using BattleShip.Models;
@using System.Text



<style>
    .board-table {
        width: 40%;
        border-collapse: collapse;
        table-layout: fixed;
    }

    .board-table th{
        padding: 0;
        height: 30px;
    }
    .board-table td {
        border: 1px solid #07ef35;
        padding: 0;
        height: 30px;
    }

    .board-table th,
    .board-table td {
        width: 30px;
    }

    .board-table th {
        text-align: center;
        background-color: #ffffff;
    }

    .board-table tr td:first-child {
        text-align: center;
        background-color: #ffffff;
    }
</style>

<table class="board-table">
    <thead>
        <tr>
            <th></th>
            @for (int i = 1; i <= 10; i++)
            {
                var ii = i;
                <th>@ii</th>
            }
        </tr>
    </thead>
    <tbody>
        @for (char row = 'A'; row <= 'J'; row++)
        {
            <tr>
                <td>@row</td>
                @for (int col = 1; col <= 10; col++)
                {
                    int currentCol = col;
                    char currentRow = row;
                    char cell = Table[col - 1, (int)row - 'A'];
                    if(Table[col - 1, (int)row - 'A'] != 0)
                    {
                        Console.Write(cell);
                        <td>@cell</td>
                        continue;
                    }

                    <td @onclick="() => CellClicked(currentRow, currentCol)"></td>
                }
            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter]
    public char[,] Table { get; set; }
    [Parameter]
    public EventCallback<(int col, int row, char value)> OnUpdate { get; set; }

    private async Task CellClicked(char row, int col)
    {
        Console.WriteLine($"Cell {row}{col} was clicked");
        using StringContent jsonContent = new(
        JsonSerializer.Serialize(new 
        {
            x = (int)row % 32,
            y = col
        }),
        Encoding.UTF8,
        "application/json");

        // Send a POST request to API
        using HttpResponseMessage response = await Http.PutAsync(
        $"http://localhost:5143/games/{GameState.GameId}/attack",
        jsonContent);
        if (response.IsSuccessStatusCode)
        {
            var content = await response.Content.ReadFromJsonAsync<GamePlayInfo>();
            Console.WriteLine(content);
            //TODO afficer historique de l'action
            if (OnUpdate.HasDelegate)
            {                    
                char elem = 'O';

                if (content.LastPlayerAttackResult.Outcome == AttackOutcome.Hit)
                {
                    elem = 'X';
                }
                await OnUpdate.InvokeAsync((col - 1, (int)row - 'A', elem));
            }
        }
        else
        {
            Console.WriteLine($"Error: {response.StatusCode}");
        }
    }
}