@using BattleShip.Models.Responses
@using System.Text.Json
@using BattleShip.Models.Requests
@using System.Text
@inject HttpClient Http;
@inject GameState GameState;


<table class="table table-dark table-bordered">
    <thead>
    <tr>
        <th></th>
        @for (var i = 1; i <= 10; i++)
        {
            var ii = i;
            <th>@ii</th>
        }
    </tr>
    </thead>
    <tbody>
    @for (var row = 'A'; row <= 'J'; row++)
    {
        <tr>
            <td>@row</td>
            @for (var col = 0; col <= 9; col++)
            {
                var currentCol = col;
                var currentRow = row;
                var cell = Table[col, row - 'A'];
                switch (cell)
                {
                    case 'X':
                        <td style="background-color: red" @onclick="() => CellClicked(currentRow, currentCol)">X</td>
                        break;
                    case 'O':
                        <td @onclick="() => CellClicked(currentRow, currentCol)">X</td>
                        break;
                    default:
                        <td @onclick="() => CellClicked(currentRow, currentCol)"></td>
                        break;
                }
            }
        </tr>
    }
    </tbody>
</table>


@code {

    [Parameter] public char[,] Table { get; set; }
    [Parameter] public EventCallback<(AttackResponse UserResult, int col, int row)> OnUpdate { get; set; }

    private async Task CellClicked(char row, int col)
    {
        Console.WriteLine($"Cell {row}{col} was clicked");
        using StringContent jsonContent = new(
            JsonSerializer.Serialize(new AttackRequest(GameState.GameId,
                GameState.PlayerId,
                col,
                row - 'A')),
            Encoding.UTF8,
            "application/json");

        var response = await Http.PostAsync("/attack", jsonContent);
        if (response.IsSuccessStatusCode)
        {
            var content = await response.Content.ReadFromJsonAsync<AttackResponse>();
            Console.WriteLine(content);
            if (OnUpdate.HasDelegate)
            {
                await OnUpdate.InvokeAsync((content, col, row - 'A'));
            }
        }
        else
        {
            Console.WriteLine($"Error: {response.StatusCode}");
        }
    }

}