@page "/"

<h3>Home</h3>

<div class="boards-container">
    <div>
        <h5>Player 1 Board</h5>
        <Board />
    </div>

    <div>
        <h5>Player 2 Board</h5>
        <Board />
    </div>
</div>

<style>
    .boards-container {
        display: flex;
        justify-content: space-around;
    }

    .boards-container > div {
        margin: 10px;
    }
</style>
