@page "/home"
@inject NavigationManager Navigation
@inject GameState GameState;
@using Microsoft.AspNetCore.SignalR.Client
@using BattleShip.Models.Responses
@implements IAsyncDisposable

<h3>Home</h3>

<div class="boards-container">
    <div>
        <h5>Player 1 Board</h5>
        <BoardUser Table="UserBoard"/>
        <History HistoryItems="userHistory"></History>
    </div>

    <div>
        <h5>Player 2 Board</h5>
        <BoardOpponent Table="OpponentBoard" OnUpdate="a => UpdateOpponentBoard(a.UserResult, a.col, a.row)"/>
        <History HistoryItems="opponentHistory"></History>
    </div>

</div>

<style>
    .boards-container {
        display: flex;
        justify-content: space-around;
    }

    .boards-container > div {
        margin: 10px;
    }
</style>

@code{
    [Parameter] public char[,] UserBoard { get; set; } = GameState.Instance.UserBoard;
    [Parameter] public char[,] OpponentBoard { get; set; } = GameState.Instance.OpponentBoard;
    private readonly List<string> userHistory = new();
    private readonly List<string> opponentHistory = new();


    private HubConnection? hubConnection;
    private readonly List<string> messages = new();
    private string? userInput;
    private string? messageInput;

    protected override async Task OnInitializedAsync()
    {
        //TODO : use app.settings et IConfiguration
        hubConnection = new HubConnectionBuilder()
            .WithUrl("http://localhost:5143/playerhub")
            .Build();


        hubConnection.On<AttackResponse>("ReceiveAttackResult", attackResponse =>
        {
            Console.Write($"WESH {attackResponse.Coordinates.X} {attackResponse.Coordinates.Y} {attackResponse.Result} {attackResponse.GameStatus} {attackResponse.ShipName} {attackResponse.Sunk}");
            var statusMessage = $"Game Status: {attackResponse.GameStatus}";

            // If there's a ship name, include it in the message
            var shipMessage = attackResponse.ShipName != null ? $" on {attackResponse.ShipName}" : "";

            // Indicate if the ship was sunk
            var sunkMessage = attackResponse.Sunk ? " and sunk it!" : "";

            // Combine all parts to create the final message
            var encodedMsg = $"AI Attack Result: {shipMessage}{sunkMessage}. {statusMessage}";

            // Add the message to the list
            messages.Add(encodedMsg);

            UpdateUserBoard(attackResponse);
            // Refresh the UI
            InvokeAsync(StateHasChanged);
        });

        // Démarrage de la connexion au hub
        await hubConnection.StartAsync();


        // Appel de la méthode "RegisterUserId" sur le hub après l'établissement de la connexion
        await hubConnection.InvokeAsync("RegisterUserId", GameState.PlayerId);
    }


    private async Task Send()
    {
        if (hubConnection is not null)
        {
            await hubConnection.SendAsync("SendMessage", userInput, messageInput);
        }
    }

    public bool IsConnected =>
        hubConnection?.State == HubConnectionState.Connected;

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }

    private void UpdateUserBoard(AttackResponse opponentAttack)
    {
        var value = 'O';
        switch (opponentAttack.Result)
        {
            case AttackOutcome.Hit:
                value = 'X';
                break;
            case AttackOutcome.Sunk:
                Console.Write("Sunk");
                break;
            case AttackOutcome.AlreadyAttacked:
                Console.WriteLine($"Error: Player Already Attacked {opponentAttack.Coordinates.X},{opponentAttack.Coordinates.Y}");
                return;
        }

        UserBoard[opponentAttack.Coordinates.X, opponentAttack.Coordinates.Y] = value;
        userHistory.Add($"Coup: {opponentAttack.Coordinates.X},{opponentAttack.Coordinates.Y} - Résultat: {opponentAttack.Result}");
        StateHasChanged();
    }

    private void UpdateOpponentBoard(AttackResponse playerAttack, int col, int row)
    {
        var value = 'O';
        switch (playerAttack.Result)
        {
            case AttackOutcome.Hit:
                value = 'X';
                break;
            case AttackOutcome.Sunk:
                Console.Write("Sunk");
                break;
            case AttackOutcome.AlreadyAttacked:
                Console.WriteLine($"Error: Player Already Attacked {col},{row}");
                return;
        }

        OpponentBoard[col, row] = value;
        opponentHistory.Add($"Coup: {col},{row} - Résultat: {playerAttack.Result}");
        StateHasChanged();
    }

}